@model DAL.DbContextSettings.LoginMaster

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
	$(document).ready(function () {
		$("#btnLoginButton").click(function (event) {
			var x = document.getElementById("snackbar");
			x.className = "show";
			setTimeout(function () { x.className = x.className.replace("show", ""); }, 2000);
		});
	});
</script>
<div class="card login_page">
	<div class="row loginRow">
		<div id="snackbar">Password Successully Updated...</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="login_form">
				<div class="form_header">
					<h2>Set Password</h2>
				</div>
				@*<form>
				*@
				@using (Html.BeginForm())
				{
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						<label for="exampleInputEmail1">UserName</label>
						@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter email", @id = "exampleInputEmail1" } })
						@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
						@*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">*@
						<small id="emailHelp" class="form-text text-muted">We'll never share your UserName with anyone else.</small>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Set Password</label>
						@Html.EditorFor(model => model.LoginPassword, new
				   {
					   htmlAttributes = new { @class = "form-control", @placeholder = "Password", @id = "exampleInputPassword1", @type = "password" }
				   })
						@Html.ValidationMessageFor(model => model.LoginPassword, "", new { @class = "text-danger" })
						@*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
					</div>
					<div class="formLinks">
						<button type="submit" id="btnLoginButton" class="btn btn-primary">Login</button>
						<div >
							<a href=@Url.Action("Signup","Login")>Register</a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

